.cadastro {
  background: linear-gradient(
    308.6deg,
    rgb(237, 100, 0) -7.94%,
    rgb(242, 71, 63) 79.38%);
    margin-bottom: 40px;
}

.cadastro_container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    padding: 40px 0px;
    
}

.cadastro_container h2{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.cadastro_container img {
  width: 140px;
  margin-right: 40px;
}

.cadastro_conteudo{
    display: flex;
    flex-direction: column;
    
}

.cadastro_imagem{
    display: flex;
}

.form_cadastro{
    display: flex;
    align-items: center;
    
}

.cadastro_input{
    width: 230px;
    padding: 18px;
    border-radius: 6px;
    margin-right: 16px;
    border: none;
}

.btn_cadastro{
    display: block;
    background-color: transparent;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.form_input{
    display: flex;
    align-items: flex-end;
}

.cadastro_input::placeholder{
    font-style: italic;
    font-size: 1.125rem;
    font-family: 'Nunito', sans-serif;
}

@media(max-width:770px){
    .cadastro_container{
        display: flex;
        
    }
    .form_input{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
    }
}
