.galeria_container {
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
  gap: 70px;
  margin-bottom: 30px;
}

.galeria_mobile {
  display: none;
}

.galeria_item img {
  width: 290px;
  height: 290px;
  border-radius: 6px;
}

.galeria_item {
  position: relative;
  transition: all 0.2s linear;
  cursor: pointer;
}

.galeria_item:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.8) -0.08%,
    rgba(0, 0, 0, 0) 100.96%
  );

  mix-blend-mode: multiply;
  border-radius: 6px;
}

.mobile_container {
  display: none;
}

.container_item {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item_desconto {
  padding: 6px;
  background-color: #ffc748;
  position: absolute;
  top: -40px;
  right: -30px;
  font-size: 0.7rem;
}

.desconto {
  background-color: #00652e;
  color: white;
}

.item_2 {
  font-size: 0.83rem;
  color: white;
  margin-bottom: 16px;
  font-weight: 600;
}

.city {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.item_span1 {
  font-size: 1.1rem;
  text-decoration: line-through;
}

.item_3 {
  color: white;
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.item_span2 {
  font-size: 2.1rem;
}

.galeria_btn {
  border-radius: 30px;
  padding: 10px 0px;
  width: 250px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}

.galeria_item:hover .galeria_btn {
  background-color: white;
  color: #000000;
}

.galeria_item:hover {
  transform: scale(1.1);
}

@media (max-width: 1310px) {
  .galeria_container {
    grid-template-columns: repeat(3, 290px);
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .galeria_container {
    grid-template-columns: 290px 290px;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .mobile_principal {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .rio {
   background: url("https://123milhas.com/img/travel-packages/rio-2.jpg")
      center center / cover no-repeat;
  }
  .bonito{
    background: url("https://123milhas.com/img/travel-packages/byo-0.jpg") center center / cover no-repeat;
  }

  .foz{
    background: url("https://123milhas.com/img/travel-packages/igu-2.jpg") center center / cover no-repeat;
  }
  .maceio{
    background: url("https://123milhas.com/img/travel-packages/mcz-1.jpg") center center / cover no-repeat;
  }
  .salvador{
    background: url("https://123milhas.com/img/travel-packages/ssa-1.jpg") center center / cover no-repeat;
  }
  .fortaleza{
    background: url("https://123milhas.com/img/travel-packages/for-2.jpg") center center / cover no-repeat;
  }
  .belohorizonte{
    background: url("https://123milhas.com/img/travel-packages/bhz-0.jpg") center center / cover no-repeat ;
  }
  .portoseguro{
    background: url("https://123milhas.com/img/travel-packages/bps-2.jpg") center center / cover no-repeat;
  }
  .mobile_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65px;
    padding: 0px 10px;
    margin-bottom: 16px;
  }

  .galeria_container {
    display: none;
  }

  .mobile_local {
    color: white;
    font-size: 1.05rem;
    font-weight: 600;
    padding-left: 10px;
  }

  .mobile_span {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: white;
    height: 65px;
    border-radius: 0px 6px 6px 0px;
    justify-content: center;
  }

  

  .mobile_desc {
    
    padding: 2px 4px;
    background-color: #ffc748;
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 0.7rem;
    color: #000000 !important;
  }

  .mb_text {
    opacity: 0;
  }
}
