

.conteudo{
    grid-area: conteudo;
    background-color: #F8F6F7;
}

.conteudo h2{
    font-size: 1.31rem;
}

.conteudo h2 .premio{
    color: white;
    font-size: 1.31rem;
}

.turismo{
    display: flex;
    background-color: #00AD46;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px 0px;
    justify-content: center;
    border-radius: 6px;
    gap: 10px;
}

.img1{
    width: 140px;

}


.milhas{
    display: grid;
    grid-template-columns: 1fr auto;
    background: linear-gradient(110deg, #001AC7 60%, #0048FF 60%);
    padding: 14px 70px;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 60px;
}

.milhas h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    
}
.vendas{
    display: flex;
    font-size: 1rem;
    text-transform: none;
    align-items: center;
    gap: 40px;
}


.vendas p {
    color: white;
    font-size: 1.05rem;
    font-weight: 600;
}

.vendas2{
    display: flex;
    align-items: flex-end;
    gap: 60px;
    align-items: center;
}

.milhas_btn{
    width: 180px;
    padding: 12px ;
    border-radius: 30px;
    margin-left: 20px;
    border: none;
    outline: none;
    font-size: 1.05rem;
    background: linear-gradient(308.6deg, rgb(237, 100, 0) -7.94%, rgb(242, 71, 63) 79.38%);
}

.img3{
    width: 194px;
    height: 168px;
}



.ofertas a{
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 168px;
    gap: 40px ;
    background-color: white;
    border: 1px solid #fcf9f9;
    border-radius: 10px;
    border-left: none;
    box-shadow: rgb(37 37 39 / 25%) 0.5rem 0.5rem 2rem 0px;
}

.ofertas2{
    flex-direction: column;
    padding: 5px;
    ;
}

.ofertas2 h2{
    color: #000000;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 10px;
    font-weight: bold;
}

.ofertas2 p{
    color: #000000;
    font-size: .82rem;
    margin-bottom: 12px;
    font-weight: 400;
}

.real {
    font-size: 1.25rem;
    color: #000000;
    font-weight: bold;
   
}

.valor{
    font-size: 2rem;
     margin-left: 10px;
     font-weight: 600px;
     font-family: 'Nunito', sans-serif;
}

.promo_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px ;
    align-items: center;
    padding-bottom: 40px;
}




.city_destinos{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.btn_destino{
    width: 500px;
    color: #ED6400;
    border: 1px solid  #ED6400;
    padding: 8px 0px;
    border-radius: 30px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    font-size: .80rem;
     background-color: transparent;
}

.btn_destino:hover{
    background-color: #EEECED;
}

.informacao{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 420px;
    height: auto;
    background-color: white;
    gap: 20px;
    justify-content: center;
    padding: 40px 30px 40px 16px;
    border-radius: 20px;
    align-items: center;
}

.info_img{
    width: 106px;
    
}

.info_conteudo h2{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #4f4f4f;
    margin-bottom: 12px;
}

.info_conteudo p{
    font-size: .95rem;
    font-weight: 400;
    color: #4f4f4f;
    margin-bottom: 20px;
}

.info_conteudo a{
    font-size: 1rem;
    color: #ED6400;
    font-weight: 600;
    text-transform: uppercase;
}

.informacao_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    
}

.central_img{
    width: 200px;
    height: auto;
}

.central a{
    display: flex;
    justify-content: center;
    background: linear-gradient(308.6deg, rgb(237, 100, 0) -7.94%, rgb(242, 71, 63) 79.38%);
    border-radius:10px;
   align-items: flex-start;
   gap: 20px;
}

.central_conteudo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.central_container{
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.central_conteudo h2{
    display: block;
    font-size: 1.25rem;
    color: white;
    text-transform: uppercase;
   
}

.central_conteudo p{
    color: white;
    font-size: 1.05rem;
    
}

.central_conteudo span{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}

.info_container{
    margin-bottom: 40px;
}



@media(max-width:760px){
    .central_container{
    padding-left: 20px;
    padding-right: 20px;
}
.central_img{
    display: none;
}
.central_conteudo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
    
}
}

@media(max-width:1000px){
    .milhas_btn{
        width: 120px;
    }
}

@media(max-width:1209px){
    .milhas{
        padding: 14px 30px;
        gap: 30px;
    }
}

@media(max-width:1160px){
    .milhas{
        padding: 5px 20px;
    }
    .vendas2{
        gap: 10px;
    }
}

@media(max-width:770px){
    .img1{
        display: none;
    }
    .vendas h2{
        display: none;
    }

    .vendas p{
        width: 16ch;
        font-size: .95rem;
    }

    .milhas_btn{
        border-radius: 6px;
        font-size: .875rem;
    }
    .milhas{
        padding: 10px 20px;
    }
    .animacao{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;

    }

    .anim2::after {
        display: flex;
        background-color: #ED6400;
        position: absolute;
        content: "";
        width: 0%;
        height: 4px;
        top: 100%;
        left: 50%;
        transition: 0.3s ease-in;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .anim2:hover::after{
        width: 100%;
    }
}

@media(max-width:770px){
    .ofertas a{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        gap: 5px;
    }

    .promo_container{
        display: flex;
        width: 100%;
        gap: 10px;
        padding-bottom: 300px;
    }

    .ofertas2 img{
        width: 80px;
    }

    .ofertas2 h2{
        font-size: .95rem;
        
    }
}
