.imagem-2 {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.pacotes {
  position: relative;
  grid-area: pacotes;
  padding-bottom: 30px;
  background-color: #f8f6f7;
  background-image: url("../../img/painel.webp");
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.pacote-conteudo {
  background-color: white;
  border-radius: 8px;
  margin: 0 auto;
  padding: 20px 5px;
}

.busca {
  max-width: 1380px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: center;
  padding: 25px;
}

.busca input::placeholder {
  font-style: italic;
  color: #4f4f4f;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}

.label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #4f4f4f;
  font-size: 0.82rem;
}

.label label {
  margin-bottom: 5px;
}

.img_input {
  position: absolute;
  width: 36px;
  bottom: 7px;
}

.label input {
  display: inline-block;
  text-align: center;
  padding: 16px 30px;
  border-radius: 6px;
  border: 1px solid rgb(240, 234, 234);
  outline: none;
}

.pacotes h2 {
  padding-left: 23px;
}

.btn_pacotes {
  width: 130px;
  height: 49px;
  background-color: white;
  border-radius: 6px 0px 0px 6px !important;
  border: 1px solid rgb(240, 234, 234);
  color: #4f4f4f;
  font-size: 1rem;
  font-style: italic;
  cursor: pointer;
}
.btn_pacotes1 {
  width: 100px;
  height: 49px;
  margin-left: -10px;
  border: 1px solid rgb(240, 234, 234);
  background-color: white;
  color: #4f4f4f;
  font-size: 1rem;
  font-style: italic;
   border-radius: 0px 6px 6px 0px !important;
   cursor: pointer;
   border-right: none;
}
